body {
    padding:20px;
}
#container {
    margin:20px;
    min-width: 100px;
    height: 100%;
	display:none;
}
form {
    width:500px;
}



input, textarea, select{
	display:block !important;
}

label, input, textarea, select{
	height:30px;
}

input[type=submit] {
    clear:both;
}
#chart-options{
	display:none;
}