body {
    padding:20px;
}
#container {
    margin:20px;
    min-width: 100px;
    height: 90%;
	display:none;
}
form {
    width:500px;
}


#datetime-start, #datetime-end{
	height:30px;
}

input[type=submit] {
    clear:both;
}
.chart-options, .restricted-series-nav{
	display:none;
}