header{
	background: #ff7e42; /* Old browsers */
background: -moz-linear-gradient(top,  #ff7e42 0%, #ff5300 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7e42), color-stop(100%,#ff5300)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ff7e42 0%,#ff5300 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ff7e42 0%,#ff5300 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ff7e42 0%,#ff5300 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ff7e42 0%,#ff5300 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7e42', endColorstr='#ff5300',GradientType=0 ); /* IE6-9 */


	padding:15px;
	color:white;
}

header small{
	color:white;
}
header a:active, header a:hover, header a:visited, header a{
	color: white;
	text-decoration:underline;
}


main{
	padding:15px;
	display:block;
}

/* 
	Log Sources CSS
	
*/
#log-sources-well{
	min-width:605px;
	width:50%;
	margin:20px auto;
}

#log-sources-wrapper{
	margin: 20px 0;
	list-style-position:inside;
}


.log-sources{
	padding: 7px 0;
}

.log-sources:not(:last-child){
	border-bottom:1px dashed black;
}

.log-sources ul{
	display:inline;
}

.log-sources li{
	display:inline-block;
	padding: 0 10px 0 10px;
	margin:0;
	vertical-align:middle;
}

.form-element-url, .form-element-file{
	width:30%;
	min-width:200px;
	max-width:400px;
}


.log-sources input[type="text"], .log-sources label{
	margin:0;
}

.log-sources input[type="file"]{
	height:auto;
}

#log-sources-settings-modal table{
	width:auto;
	margin:0 auto;
}

#log-sources-settings-modal th{
	text-align:center;
}
#log-sources-settings-modal td{
	max-width:200px;
	overflow:hidden;
	text-overflow:ellipsis;
}

/*
	Common CSS
*/

body .modal{
	width:50%;
	left:25%;
	margin-left:0;
}

main, li.log-sources-source-url{
	display:none;
}